@import '../../../styles/config';

.table {
  // display: grid;
}

.tableHeader {
  color: $mediumGrey;
}

.item {
  border-top: 0.5rem solid $background;
  background: $backgroundExposed;
  padding: 0 1rem;

  &:first-child {
    border-top: none;
  }
}
