@import '../../styles/config.scss';

.wrapper {
  display: flex;
  align-items: center;
  height: 50px;
}

.icon {
  flex: 0;
  margin-right: .4rem;

  > div {
    width: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-right: 1rem;

    > div {
      width: 30px;
    }
  }
}

.title {
  flex: 4 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.size {
  flex: 1 0 auto;
}
.created {
  flex: 1 0 auto;
}
.modified {
  flex: 1 0 auto;
}
.actions {
  display: flex;
  flex: 0 0 auto;
}

.wrapperClickable {
  @extend .wrapper;

  cursor: pointer;
}
