$brand: #0992D6;
$brandSecondary: #05537A;
$background: #fff;
$backgroundExposed: #F0F0F0;
$headerBackground: #021D2B;
$headerColor: #E5F6FF;
$dark: #1E3845;
$lightGrey: #E6E9EB;
$mediumGrey: #737B80;
$mainColor: #021D2B;
