@import '../../styles/config';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContainer {
  padding: 1rem;
}

.main {
  display: flex;
  flex: 1 1 auto;
}

.sidebar {
  min-width: 12rem;
  width: 25vw;

  padding: 0 1rem;

  overflow: hidden;

  border-right: 3px solid $mediumGrey;
}
