@import '../../../styles/config.scss';

.wrapper {
  display: flex;
  align-items: center;
  height: 50px;
}

.icon {
  flex: 0;
  margin-right: 1rem;

  > div {
    width: 30px;
  }
}

.title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapperClickable {
  @extend .wrapper;

  cursor: pointer;
}
